.css-1vakbk4 > .css-0 {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}

.css-1vakbk4 > .css-0:hover {
    background-color: red;
}